@using ResumeBuilder.Models;

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title></title>
    <style>
        body
        {
          background-color: black;
          color: white;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="heading">
        <h1>@Model.GetName()</h1>
        <p>A world-class @Model.GetCareer() with a passion for the @Model.GetIndustry() industry.</p>
        <p>@Model.GetPhone()</p>
        <p>@Model.GetEmail()</p>
        <p>@Model.GetCity(), @Model.GetState()</p>
      </div>
      <div id="skillseducation">
        <h3>Skills</h3>
        <ul>
          @foreach (string skill in @Model.GetSkills()[@Model.GetCareer()])
          {
            <li>@skill</li>
          }
        </ul>
        <h3>Education</h3>
        <h5>@Model.GetEducation()[@Model.GetCareer()]["institution"]</h5>
        <p>Years Attended: @Model.GetEducation()[@Model.GetCareer()]["years"]</p>
        <p>Degree Acquired: @Model.GetEducation()[@Model.GetCareer()]["degree"]</p>
      </div>
      <div id="experience">
        <h3>Work Experience</h3>
        <h5>@Model.GetExperience()[@Model.GetCareer()]["employer"]</h5>
        <h5>@Model.GetExperience()[@Model.GetCareer()]["years"]</h5>
        <h5>@Model.GetExperience()[@Model.GetCareer()]["position"]</h5>
        <ul>
          @foreach (string duty in @Model.GetExperience()[@Model.GetCareer()]["duties"].Split(','))
          {
            <li>@duty</li>
          }
        </ul>
      </div>
    </div>
  </body>
</html>
