
@{
    ViewBag.Title = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="@Url.Content("~/plugins/fontawesome-free/css/all.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/plugins/icheck-bootstrap/icheck-bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/dist/css/adminlte.min.css")">
    <script type="text/javascript" src="@Url.Content("~/plugins/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/dist/js/adminlte.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Validation/Validation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Validation/Validation.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/plugins/toastr/toastr.css")" />
    <script type="text/javascript" src="@Url.Content("~/plugins/toastr/toastr.min.js")"></script>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body" id="dvLogin">
                <form id="frmLogin" method="post" action="@Url.Action("LoginUser","User")">
                    <p class="login-box-msg">Sign In to Continue</p>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Email" name="Email" autofocus id="txtLoginEmail">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" id="spnLoginEmailError"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Password" name="Password" id="txtLoginPassword">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" id="spnLoginPasswordError">@ViewBag.Message</span>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="button" class="btn btn-primary btn-block" onclick="SignIn();">Sign In</button>
                        </div>
                        <div class="col-8">
                            <button type="button" class="btn btn-primary btn-block" onclick="CreateAccnt();">Create an account</button>
                        </div>
                    </div>
                </form>
                <form id="frmSignUp" method="post" action="@Url.Action("CreateUser","User")">
                    <p class="login-box-msg">Sign Up</p>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Email" name="Email" autofocus id="txtSignUpEmail">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" id="spnSignUpEmailError"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Password" name="Password" id="txtSignUpPassword">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" id="spnSignUpPasswordError">@ViewBag.Message</span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="ConfirmPassword" name="ConfirmPassword" id="txtSignUpConfirmPassword">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" id="spnSignUpConfirmPasswordError">@ViewBag.Message</span>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="button" class="btn btn-primary btn-block" onclick="SignUp();">Continue</button>
                        </div>
                        <div class="col-4">
                            <a href="/User/Login">Already have an account !</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $("document").ready(function () {
        $("#frmSignUp").hide();
        var msg = '@ViewBag.RegMsg';
        if (msg != null && msg != '') {
            if (msg == 'User Already Exists') {
                toastr.error(msg);
            }
            else {
                toastr.success(msg);
            }
        }
    });
    function tempAlert(msg, duration) {
        var el = document.createElement("div");
        el.setAttribute("style", "position:absolute;top:40%;left:20%;background-color:white;");
        el.innerHTML = msg;
        setTimeout(function () {
            el.parentNode.removeChild(el);
        }, duration);
        document.body.appendChild(el);
    }
    function HideShowPassword() {
        var type = $("#txtConfirmPassword").attr("type");

        if (type == "password") {
            $("#txtConfirmPassword").attr("type", "text");
            $("#spnLock").removeClass("fa-lock").addClass("fa-unlock");
            $("#spnLock").attr("title", "Hide Password");
        }
        else {
            $("#txtConfirmPassword").attr("type", "password");
            $("#spnLock").removeClass("fa-unlock").addClass("fa-lock");
            $("#spnLock").attr("title", "Show Password")
        }
    }

    function SignIn() {
        var email = $("#txtLoginEmail").val().trim();
        var password = $("#txtLoginPassword").val().trim();
        var isValid = true;

        if (email == "") {
            $("#spnLoginEmailError").html("email id is required");
            $("#txtLoginEmail").css("border-color", "red");
            $("#txtLoginEmail").next("div").find("div").css("border-color", "red");
            $("#txtLoginEmail").next("div").find("div span").css("color", "red");
            isValid = false;
        }
        else {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (!regex.test(email)) {
                $("#spnLoginEmailError").html("please enter valid email");
                $("#txtLoginEmail").css("border-color", "red");
                $("#txtLoginEmail").next("div").find("div").css("border-color", "red");
                $("#txtLoginEmail").next("div").find("div span").css("color", "red");
                isValid = false;
            }
            else {
                $("#spnLoginEmailError").html("");
                $("#txtLoginEmail").css("border-color", "");
                $("#txtLoginEmail").next("div").find("div").css("border-color", "");
                $("#txtLoginEmail").next("div").find("div span").css("color", "");
            }
        }

        if (password == "") {
            $("#spnLoginPasswordError").html("password is required");
            $("#txtLoginPassword").css("border-color", "red");
            $("#txtLoginPassword").next("div").find("div").css("border-color", "red");
            $("#txtLoginPassword").next("div").find("div span").css("color", "red");
            isValid = false;
        }
        else {
            $("#spnLoginPasswordError").html("");
            $("#txtLoginPassword").css("border-color", "");
            $("#txtLoginPassword").next("div").find("div").css("border-color", "");
            $("#txtLoginPassword").next("div").find("div span").css("color", "");
        }

        if (!isValid) {
            return false;
        }

        $("#frmLogin").submit();
    }
    function CreateAccnt() {
        $("#frmLogin").hide();
        $("#frmSignUp").show();
    }
    function GoToLogin() {
        $("#frmLogin").show();
        $("#frmSignUp").hide();
    }
    function SignUp() {
        var email = $("#txtSignUpEmail").val().trim();
        var password = $("#txtSignUpPassword").val().trim();
        var confirmPassword = $("#txtSignUpConfirmPassword").val().trim();
        var isValid = true;

        if (email == "") {
            $("#spnSignUpEmailError").html("email id is required");
            $("#txtSignUpEmail").css("border-color", "red");
            $("#txtSignUpEmail").next("div").find("div").css("border-color", "red");
            $("#txtSignUpEmail").next("div").find("div span").css("color", "red");
            isValid = false;
        }
        else {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (!regex.test(email)) {
                $("#spnSignUpEmailError").html("please enter valid email");
                $("#txtSignUpEmail").css("border-color", "red");
                $("#txtSignUpEmail").next("div").find("div").css("border-color", "red");
                $("#txtSignUpEmail").next("div").find("div span").css("color", "red");
                isValid = false;
            }
            else {
                $("#spnSignUpEmailError").html("");
                $("#txtSignUpEmail").css("border-color", "");
                $("#txtSignUpEmail").next("div").find("div").css("border-color", "");
                $("#txtSignUpEmail").next("div").find("div span").css("color", "");
            }
        }

        if (password == "") {
            $("#spnSignUpPasswordError").html("password is required");
            $("#txtSignUpPassword").css("border-color", "red");
            $("#txtSignUpPassword").next("div").find("div").css("border-color", "red");
            $("#txtSignUpPassword").next("div").find("div span").css("color", "red");
            isValid = false;
        }
        else {
            $("#spnSignUpPasswordError").html("");
            $("#txtSignUpPassword").css("border-color", "");
            $("#txtSignUpPassword").next("div").find("div").css("border-color", "");
            $("#txtSignUpPassword").next("div").find("div span").css("color", "");
        }

        if (confirmPassword == "") {
            $("#spnSignUpConfirmPasswordError").html("password is required");
            $("#txtSignUpConfirmPassword").css("border-color", "red");
            $("#txtSignUpConfirmPassword").next("div").find("div").css("border-color", "red");
            $("#txtSignUpConfirmPassword").next("div").find("div span").css("color", "red");
            isValid = false;
        }
        else {
            $("#spnSignUpConfirmPasswordError").html("");
            $("#txtSignUpConfirmPassword").css("border-color", "");
            $("#txtSignUpConfirmPassword").next("div").find("div").css("border-color", "");
            $("#txtSignUpConfirmPassword").next("div").find("div span").css("color", "");
        }

        if (password != confirmPassword) {
            $("#spnSignUpConfirmPasswordError").html("Password doesn't match");
            isValid = false;
        }
        if (!isValid) {
            return false;
        }

        $("#frmSignUp").submit();
    }
</script>
