@model RB.Website.Model.ResumeDataModel
@{
    ViewBag.Title = "ResumeDetails";
}


<style type="text/css">
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 50px !important;
        background-color: black;
        text-align: center;
        color: white;
    }

    .rowTab:after {
        content: "";
        display: table;
        clear: both;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.75) url(../../dist/img/loader.gif) no-repeat center center;
        z-index: 10000;
    }
</style>
<div id="loader">
</div>
<div style="float:right !important;">
    @*@using (Html.BeginForm("ViewResume", "User", FormMethod.Post, new { id = "frmViewResume" }))
    {
        <i class="fa fa-eye" onclick="ViewResume();"> Preview Resume</i>
    }*@
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-6" style="margin:auto !important;">
        <div class="rowTab">
            <div class="column" style="background-color:#f5af05 !important" id="tabPersonalDetails" onclick="TabClick('tabPersonalDetails')">
                <label>Personal Details</label>
            </div>
            <div class="column" id="tabExperience" onclick="TabClick('tabExperience')">
                <label>Experience</label>
            </div>
            <div class="column" id="tabEducation" onclick="TabClick('tabEducation')">
                <label>Education</label>
            </div>
            <div class="column" id="tabSkills" onclick="TabClick('tabSkills')">
                <label>Skills</label>
            </div>
            <div class="column" id="tabLanguage" onclick="TabClick('tabLanguage')">
                <label>Language</label>
            </div>
            <div class="column" id="tabHobbies" onclick="TabClick('tabHobbies')">
                <label>Hobby</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <input type="hidden" value="@ViewBag.Tab" id="hdnTab" />
    @*<div id="personalPartial" style="margin:auto;margin-top:5px !important;">*@
    <div class="col-md-8" style="margin:auto;margin-top:5px !important;" id="personalPartial">
        @Html.Partial("PersonalPartialView")
    </div>
    <div class="col-md-8" style="margin:auto;margin-top:5px !important;" id="expPartial">
        @Html.Partial("ExperiencePartialView")
    </div>
    <div class="col-md-8" style="margin:auto;margin-top:5px !important;" id="eduPartial">
        @Html.Partial("EducationPartialView")
    </div>
    <div class="col-md-8" style="margin: auto; margin-top: 5px !important;" id="skillsPartial">
        @Html.Partial("SkillsPartialView")
    </div>
    <div class="col-md-8" style="margin: auto; margin-top: 5px !important;" id="LanguagePartial">
        @Html.Partial("LanguagePartialView")
    </div>
    <div class="col-md-8" style="margin: auto; margin-top: 5px !important;" id="hobbyPartial">
        @Html.Partial("HobbyPartialView")
    </div>


</div>




<script type="text/javascript" src="@Url.Content("~/Scripts/ResumeDetails/ResumeDetails.js")"></script>
